<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="https://forms.gle/7H89sAFvrsTYWCHL7" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>   <a href="https://czirion.github.io/comparative-genomics-workshop/">Comparative Genomics</a>        <!-- row 2   -->
        <td> 14:00 - 16:00 pm  </td>    <!-- time    -->
        <td>  <a href=" https://paumayell.github.io/pangenomics/ "> Pangenomics in prokaryotes </a> </td>      <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td> 17:30 -19:00  </td>      <!-- time    -->
        <td> <a href=" https://axelramosgarcia.github.io/Genome-Mining/ ">Genome Mining in prokaryotes </a>   </td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>          <!-- row 1   -->
        <td> 14:00 - 15:00</td>       <!-- time    -->
        <td>BGC families: <a href="https://axelramosgarcia.github.io/Genome-Mining/04-bigscape/index.html">BiG SCAPE</a> </td>       <!-- content -->
      <tr>                   <!-- row 2   -->
        <td>15:00-16:00 </td>    <!-- time    -->
        <td> BGC families: <a href="https://axelramosgarcia.github.io/Genome-Mining/06-corason/index.html"> CORASON </a> </td>        <!-- content -->
      </tr>
      <tr>     <!-- row 3   -->
        <td> 17:30 -19:00 </td>      <!-- time    -->
        <td>       <a href="https://axelramosgarcia.github.io/Genome-Mining/07-evomining/index.html"> Evolutionary Genome Mining </a>  </td>       <!-- content -->
     
      </tr>
       </tr>
      <tr>     <!-- row 4   -->
        <td> 17:30 -19:00 </td>      <!-- time    -->
        <td> <a href="https://paumayell.github.io/pangenomics/03-get_homologues/index.html"> Protein Families </a>  </td>       <!-- content -->
      </tr>
    <tr>  <td><a href="https://forms.gle/EK3QVzqYz3DStF9p8" target="_blank">Post-workshop survey</a></td></tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Morning talks</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td> B1 Hoskisson  </td>     <!-- time    -->
        <td>    <a href="https://drive.google.com/file/d/1k-FUt59-k0_QwQBvR85JhJCAQqO4LXMM/view?usp=sharing">Natural Products and Genomics. Hoskisson</a>  </td>   <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        
        <td>B3 Barona </td>        <!-- time    -->
        <td><a href="https://docs.google.com/presentation/d/1Upvfz0LSsAwkDsMytofuoo4Fig3y6EVO/edit?usp=sharing&ouid=112224471038090317539&rtpof=true&sd=true">Introduction to Genome Mining. </a></td>
              </tr>
      <tr>
        <td>B5 Fernandez </td>        <!-- time    -->
        <td><a href="https://docs.google.com/presentation/d/1e_BQGxcIrgd3PFttwwPA5SBn27otB5Ay/edit?usp=sharing&ouid=112224471038090317539&rtpof=true&sd=true">Biosíntesis de Natural Products. </a></td>        <!-- content -->
<!-- row 3   -->        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>  </h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>B9  Hoskisson</td>        <!-- time    -->
        <td><a href="https://docs.google.com/presentation/d/1Upvfz0LSsAwkDsMytofuoo4Fig3y6EVO/edit?usp=sharing&ouid=112224471038090317539&rtpof=true&sd=true">NP Descubrimiento, resistencia y producción.</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>B17 Barona </td>        <!-- time    -->
        <td><a href="https://drive.google.com/file/d/1ECrsiaUzZJia0WJ40zPCDwcypGmcgAtb/view?usp=sharing">NP y evolución.</a></td>        <!-- content -->
      </tr>
      <tr> B13 Fernández-Hoskisson <td></td>
        <td><a href="https://drive.google.com/file/d/1OYTmseYz5lgwWnE3YYKiZh-yZzxPrihx/view?usp=sharing">Herramientas genéticas.</a></td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
       
      </tr>
    </table>
  </div>
</div>
